<br>
<div class="bg-dark ">
                                <div class="card col-lg-12 border border-dark">
                                        <h4><span class="text-warning"> R</span>esumen de Reserva</h4><br>
                                        <h5>2 noches:09/jul/2018-11/jul/2018</h5>
                                        habitacion con 2 camas <br>
                                        traslado del aoeropuerto
                                        <span class="text-primary">Editar</span>
                                        <h5>ver detalles</h5><br>
                                        <div class="row " >
                                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
                                                         <h5>SubTotal</h5>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
                                                         <h5>78</h5>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
                                                                <h5>TOTAL</h5>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
                                                                <h5>230</h5>
                                                </div>
                                        </div>
                                        incluendo todos los impuesto y cargos por servicio
                                       
                                             <br><br>
                                        <div class="text-center">
                                                <button class="btn btn-success"> <a  routerLink="/pagar" >Pague ahora</a> </button>
                                                <br><br>
                                                <button class="btn btn-success">Pague en el hotel</button>
                                        </div>
                                       <br>
                                </div>
</div>
