<div class="bg-dark text-white">
                
    <h5><span class="text-warning">R</span>eserva</h5>
<form action="">
    <div class="container">
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                        <label for="exampleFormControlSelect1"><span class="text-warning">L</span>Legada</label>
                        <input type="date" class="form-control col-sm-11 " id="exampleFormControlInput1" placeholder="Llegada">
                </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                        <label for="exampleFormControlSelect1"><span class="text-warning">S</span>alida</label>
                        <input type="date" class="form-control col-sm-11 " id="exampleFormControlInput1" placeholder="Salida">
                </div>
        </div>
        </div>
        <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                                        <label for="exampleFormControlSelect1"><span class="text-warning">C</span>uartos</label>
                                                        <input type="integer" class="form-control col-sm-11 " id="exampleFormControlInput1" placeholder="dia">
                                                </div>
                                                
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                                        <label for="exampleFormControlSelect1"><span class="text-warning">A</span>dultos</label>
                                                        <input type="text" class="form-control col-sm-11 " id="exampleFormControlInput1" placeholder="dia">
                                                </div>
                        </div>
                        </div>

            
            <div class="form-group">
                    <label for="exampleFormControlSelect1"><span class="text-warning">P</span>ais</label>
                    <input type="text" class="form-control col-sm-11 " id="exampleFormControlInput1" placeholder="dia">
            </div>
            <div class="form-group">
                    <label for="exampleFormControlSelect1"><span class="text-warning">C</span>iudad</label>
                    <input type="text" class="form-control col-sm-11" id="exampleFormControlInput1" placeholder="dia">
            </div>
            <div class="text-center">
                        <button type="submit" class="btn btn-warning text-center btn-sm">Consultar</button>
            </div>
    </div>
    
</form>
</div>