<app-cabecera></app-cabecera>
<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                <app-menu-izquierda></app-menu-izquierda>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                <div class="container">
                                                <label for="exampleFormControlSelect1"><h4><span class="text-warning">M</span>OSSOQ</h4></label>
                                        <div class="card w-100">
                                                <div class="card-body">
                                                        <h6 class="card-title"><span class="text-warning">M</span>ISIÓN</h6>
                                                        <p class="card-text">
                                                                        Satisfacer las necesidades de nuestros clientes y
                                                                         huéspedes superando sus expectativas, brindándoles
                                                                        productos y servicios de calidad y amigables  con
                                                                         el medio ambiente a través de nuestros colaboradores.
                                                                         Aportar al desarrollo económico y turístico de la Región
                                                                          mediante nuestro compromiso de excelencia e innovación,
                                                                           generando a nuestros accionistas un crecimiento continuo
                                                                          y sostenible año tras año.
                                                        </p>
                                                </div>
                                        </div>
                                        <div class="card w-100">
                                                        <div class="card-body">
                                                                        <h6 class="card-title"><span class="text-warning">V</span>ISIÓN</h6>
                                                                        <p class="card-text">
                                                                                 Ser reconocido para el año 2019, como el Hotel líder
                                                                                 en el triangulo del Café, siendo la mejor opción para
                                                                                 la realización de eventos, congresos, y convenciones,
                                                                                 y a su vez la mejor opción para su descanso y diversión 
                                                                                 en el Quindio.  Teniendo en cuenta el desarrollo sostenible 
                                                                                 a través de los procesos ambientales, asegurando estabilidad 
                                                                                 laboral a nuestros colaboradores, generando empleo en la 
                                                                                 región y manteniendo altos estándares de calidad en la 
                                                                                 prestación del servicio.
                                                                        </p>
                                                                 </div>
                                                </div>
                                </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                <app-form-derecho></app-form-derecho>
                        </div>
                </div>
                
        </div>  
</div>
<app-pie-pagina></app-pie-pagina>